body {
background-color: aquamarine;
}

.title {
    text-align: center;
}
.card {
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .card {
      margin-top: 10px;
      
    }
  }